<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317097337329-smrfu29022tn8enuqufvr59mqck80bs7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317097337329-smrfu29022tn8enuqufvr59mqck80bs7</string>
	<key>API_KEY</key>
	<string>AIzaSyCFhGiNgmNZLyGXsTmUIsyxtKZwp3VFcII</string>
	<key>GCM_SENDER_ID</key>
	<string>317097337329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.timely.frontend</string>
	<key>PROJECT_ID</key>
	<string>timely-c5cb8</string>
	<key>STORAGE_BUCKET</key>
	<string>timely-c5cb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317097337329:ios:7e20dc5a6ff6c010f0e450</string>
</dict>
</plist>